{% set vue = true %}


{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% set endpoints = [
  ('account.manage', 'Account information'),
  ('account.change_email_request', 'Change email address'),
  ('account.change_password', 'Change password'),
  ('account.logout', 'Log out')
] %}
#class="{% if request.endpoint == route %}active{% endif %}"
{% macro navigation(items) %}
    {% for route, name in items %}
      {% set href = url_for(route) %}
      <v-list-item
      href={{ href }}
      >{{ name }}</v-list-item>
    {% endfor %}
{% endmacro %}

{% macro user_info(user) %}
  <v-simple-table>
    <template v-slot:default>
    <tbody>
    <tr><td>Full name</td><td>{{ '%s %s' % (user.first_name, user.last_name) }}</td></tr>
    <tr><td>Email address</td><td>{{ user.email }}</td></tr>
    <tr><td>Account type</td><td>{{ user.role.name }}</td></tr>
  </template>
  </tbody>
  </v-simple-table>
{% endmacro %}

{% block content %}
<v-app-bar app clipped-left flat hide-on-scroll></v-app-bar>
<v-navigation-drawer permanent app clipped>
  <v-list>
    <v-list-item>
    <v-list-item-avatar>
      <img src="/static/avatars/avatar_{{ user.id }}.jpg" />
    </v-list-item-avatar>
    </v-list-item>
    <v-list-item link>
    <v-list-item-content>
      <v-list-item-title class="title">
      {{ user.first_name }} {{ user.last_name }}
      </v-list-item-title>
      <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
    </v-list-item-content>
    </v-list-item>
  </v-list>
  <v-divider></v-divider>
  <v-list nav dense>
  {{ navigation(endpoints) }}
  </v-list>
</v-navigation-drawer>
<v-main class="ma-6">
  <h1>Account Settings</h1>
  <p>Manage your account settings and change your login information.</p>
  {% if form %}
    {{ f.render_form(form, extra_classes='fluid') }}
  {% else %}
    {{ user_info(user) }}
  {% endif %}
</v-main>
  {{ check.password_check('new_password', 0) }}
{% endblock %}
